certifi==2023.5.7
cffi==1.15.0
charset-normalizer==3.3.2
cryptography==41.0.7
filelock==3.13.1
fsspec==2023.12.2
idna==3.6
Jinja2==3.1.2
jwt==1.3.1
MarkupSafe==2.1.3
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.3
pillow==10.2.0
pip==23.3.1
pycparser==2.21
requests==2.31.0
setuptools==68.2.2
sympy==1.12
torch==2.1.2
torchvision==0.16.2
typing_extensions==4.9.0
urllib3==2.1.0
wheel==0.41.3
Flask==2.0.0
Werkzeug==2.2.2
pandas
SQLAlchemy==1.4.31
python-dotenv==1.0.0
mysql-connector-python==8.0.28
Flask-JWT-Extended==4.6.0
schedule==1.2.0
redis 
flask-redis
flask-swagger-ui